aside.logo {
    background-color : var(--bg-dark);
    width: 11rem;
    height: none;
    display:center;
    justify-content:space-between;
    align-items: center;
}
aside.logo img {
    padding: 0px 14px;
    width: 136%;
}

@media (max-width: 576px) {
    aside.logo img {
      width: 350px;
    }
  }